<app-header></app-header>

<!--start-about-->
<div class="about">
  <div class="container">
    <div class="about-top heading">
      <h1>About us</h1>
    </div>
    <div class="about-bottom">
      <img src="assets/images/abt-3.jpg" alt="" />
      <h4>Sed hendrerit dui eget lacus imperdiet lacinia. Sed eleifend, libero ac pellentesque ornare, velit velit tempor nisi, quis cursus dolor velit condimentum elit.</h4>
      <p>Duis semper sodales dictum. Praesent facilisis dui a viverra fringilla. Cras nisi felis, sollicitudin non bibendum iaculis, tincidunt id erat. Morbi tincidunt erat tellus, ut rhoncus sem malesuada et. Duis vitae auctor arcu. Aenean in tellus ac quam maximus dignissim. Vivamus dapibus eget mi ut consectetur. Donec risus nunc, pulvinar eu viverra vitae, placerat at nisi. Duis a mollis enim. Pellentesque sollicitudin dignissim ex, sit amet ornare dui fringilla eu.</p>
    </div>
  </div>
</div>
<!--end-vision-->
<!--start-vision-->
<div class="vision">
  <div class="container">
    <div class="vision-top heading">
      <h2>VISION STATEMENT</h2>
    </div>
    <div class="vision-bottom">
      <div class="col-md-8 vision-left">
        <div class="col-md-5 vsn-left">
          <img src="assets/images/abt-1.jpg" alt="" />
        </div>
        <div class="col-md-7 vsn-right">
          <h4>Praesent nunc egestas eget elementum sed; rutrum eget metus!</h4>
          <p>Aenean eu enim imperdiet, hendrerit purus congue, semper lectus. Nullam metus urna, efficitur in tristique a, suscipit in eros. Vestibulum tincidunt mattis ante, eu lobortis arcu convallis laoreet. Vivamus vestibulum dolor vel metus finibus aliquet. Donec nibh lorem.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 vision-right">
        <ul>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Interdum et malesuada fames ac ante ipsum</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Suspendisse purus justo, fringilla nec</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Aenean eu enim imperdiet, hendrerit purus</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Sed consequat finibus nisi, sed convallis mi</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Maecenas non lectus tristique, vestibulum</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Quisque quis nisl eget velit laoreet auctor</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-vision-->
<!--start-teacher-->
<div class="teacher">
  <div class="container">
    <div class="teacher-top">
      <h3>our staff</h3>
    </div>
    <div class="teacher-main">
      <div class="teacher-left">
        <img src="assets/images/t-1.jpg" alt="" />
        <h4>Sarah Smith</h4>
        <p>Nunc nec libero a dui cursus mattis placerat a urna.</p>
      </div>
      <div class="teacher-left">
        <img src="assets/images/t-2.jpg" alt="" />
        <h4>Milla Row</h4>
        <p>Nunc nec libero a dui cursus mattis placerat a urna.</p>
      </div>
      <div class="teacher-left">
        <img src="assets/images/t-3.jpg" alt="" />
        <h4>John Franklin</h4>
        <p>Nunc nec libero a dui cursus mattis placerat a urna.</p>
      </div>
      <div class="teacher-left">
        <img src="assets/images/t-4.jpg" alt="" />
        <h4>Amina Wilson</h4>
        <p>Nunc nec libero a dui cursus mattis placerat a urna.</p>
      </div>
      <div class="teacher-left">
        <img src="assets/images/t-5.jpg" alt="" />
        <h4>Jack Jones</h4>
        <p>Nunc nec libero a dui cursus mattis placerat a urna.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-teacher-->

<app-footer></app-footer>
