<app-header></app-header>
<!--start-what-->
<div class="services">
  <div class="container">
    <div class="services-top heading">
      <h1>What we offer</h1>
    </div>
    <div class="services-bottom">
      <div class="col-md-4 services-left">
        <img src="assets/images/s-1.jpg" alt="" />
        <h4><span>01</span>Etiam suscipit leo</h4>
        <p>Nulla vitae leo nulla. Duis orci felis, blandit a turpis dapibus, maximus volutpat velit. Quisque ipsum libero, ultricies pulvinar.</p>
      </div>
      <div class="col-md-4 services-left">
        <img src="assets/images/s-2.jpg" alt="" />
        <h4><span>02</span>Donec sed massa</h4>
        <p>Nulla vitae leo nulla. Duis orci felis, blandit a turpis dapibus, maximus volutpat velit. Quisque ipsum libero, ultricies pulvinar.</p>
      </div>
      <div class="col-md-4 services-left">
        <img src="assets/images/s-3.jpg" alt="" />
        <h4><span>03</span>Sed hendrerit dui</h4>
        <p>Nulla vitae leo nulla. Duis orci felis, blandit a turpis dapibus, maximus volutpat velit. Quisque ipsum libero, ultricies pulvinar.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-what-->
<!--start-over-->
<div class="over">
  <div class="container">
    <div class="over-top heading">
      <h2>Services overview</h2>
    </div>
    <div class="over-bottom">
      <div class="over-1">
        <div class="col-md-6 over-left">
          <div class="col-md-6 o-left">
            <img src="assets/images/s-4.jpg" alt="" />
          </div>
          <div class="col-md-6 o-left">
            <h4>Golore eu feug iat nulla facilisis at</h4>
            <p>Quisque at justo vulputate, dignissim leo sed, finibus ante. Nunc nec tincidunt sapien. Etiam suscipit leo a odio dignissim.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-6 over-left">
          <div class="col-md-6 o-left">
            <img src="assets/images/s-5.jpg" alt="" />
          </div>
          <div class="col-md-6 o-left">
            <h4>Golore eu feug iat nulla facilisis at</h4>
            <p>Quisque at justo vulputate, dignissim leo sed, finibus ante. Nunc nec tincidunt sapien. Etiam suscipit leo a odio dignissim.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="over-1">
        <div class="col-md-6 over-left">
          <div class="col-md-6 o-left">
            <img src="assets/images/s-6.jpg" alt="" />
          </div>
          <div class="col-md-6 o-left">
            <h4>Golore eu feug iat nulla facilisis at</h4>
            <p>Quisque at justo vulputate, dignissim leo sed, finibus ante. Nunc nec tincidunt sapien. Etiam suscipit leo a odio dignissim.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-6 over-left">
          <div class="col-md-6 o-left">
            <img src="assets/images/s-7.jpg" alt="" />
          </div>
          <div class="col-md-6 o-left">
            <h4>Golore eu feug iat nulla facilisis at</h4>
            <p>Quisque at justo vulputate, dignissim leo sed, finibus ante. Nunc nec tincidunt sapien. Etiam suscipit leo a odio dignissim.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--end-over-->
<!--start-additional-->
<div class="additional">
  <div class="container">
    <div class="additional-top heading">
      <h3>additional Services</h3>
    </div>
    <div class="additional-bottom">
      <div class="col-md-4 additional-left">
        <ul>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Cum sociis natoque penatibus</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Vestibulum rutrum porttitor dolor</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Mauris eu scelerisque purus.</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Cum sociis natoque penatibus et</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Phasellus sit amet porta nibh</a></li>
        </ul>
      </div>
      <div class="col-md-4 additional-left">
        <ul>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Proin dictum lacus vitae lacus</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Cras convallis tristique lectus</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Sed fermentum ornare lacus</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Nam facilisis maximus purus,</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Maecenas non lectus tristique</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Cum sociis natoque penatibus et</a></li>
        </ul>
      </div>
      <div class="col-md-4 additional-left">
        <ul>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Interdum et malesuada fames</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Suspendisse purus justo fringilla</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Aenean eu enim imperdiet hendrerit</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Sed consequat finibus nisi</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Maecenas non lectus tristique</a></li>
          <li><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><a href="#">Quisque quis nisl eget velit</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-additional-->
<app-footer></app-footer>
